In [2]:
import pandas as pd

In [3]:
df_yf = pd.read_csv("C:/Users/user/Repos/thesis_clustering_portfolio/Data/financials_data_yf.csv")
df_edgar = pd.read_csv("C:/Users/user/Repos/thesis_clustering_portfolio/Data/sec_data/pivoted_financial_data.csv")

In [4]:
missing_yf = df_yf.isna().sum()
missing_yf = missing_yf.sort_values()
missing_yf.head(30)

Ticker                                                          0
Date                                                            0
Tax Effect Of Unusual Items                                   369
Tax Rate For Calcs                                            369
Net Income From Continuing Operation Net Minority Interest    369
Normalized Income                                             369
Net Income Continuous Operations                              369
Pretax Income                                                 369
Net Income Common Stockholders                                369
Net Income                                                    369
Diluted NI Availto Com Stockholders                           369
Basic EPS                                                     369
Basic Average Shares                                          369
Diluted EPS                                                   369
Diluted Average Shares                                        369
Net Income From Continuing And Discontinued Operation         369
Net Income Including Noncontrolling Interests                 369
Operating Revenue                                             369
Total Revenue                                                 369
Reconciled Depreciation                                       385
Tax Provision                                                 393
Net Interest Income                                           410
Interest Expense                                              467
Total Expenses                                                469
EBIT                                                          477
Net Non Operating Interest Income Expense                     510
Selling General And Administration                            535
Other Income Expense                                          549
Operating Expense                                             553
Operating Income                                              557
dtype: int64

In [7]:
missing_edgar = df_edgar.isna().sum()
missing_edgar = missing_edgar.sort_values()
missing_edgar.head(12)

ticker                        0
date                          0
NetIncomeLoss              2680
OperatingIncome            3802
Revenue                   12121
SellingGeneral            14014
CostOfRevenue             16587
GrossProfit               17120
OperatingExpense          19236
ResearchAndDevelopment    21828
OperatingExpenses         22300
Restructuring             22410
dtype: int64

In [8]:
df_edgar

,ticker,date,CostOfRevenue,GrossProfit,NetIncomeLoss,OperatingExpense,OperatingExpenses,OperatingIncome,ResearchAndDevelopment,Restructuring,Revenue,SellingGeneral
0,A,2007-10-31,NaN,NaN,NaN,NaN,4.836000e+09,5.840000e+08,685000000.0,NaN,NaN,1.700000e+09
1,A,2008-10-31,NaN,NaN,NaN,NaN,4.979000e+09,7.950000e+08,704000000.0,0.0,NaN,1.697000e+09
2,A,2009-01-31,NaN,NaN,NaN,NaN,1.142000e+09,2.400000e+07,169000000.0,NaN,NaN,3.960000e+08
3,A,2009-04-30,NaN,NaN,NaN,NaN,NaN,-3.500000e+07,254500000.0,NaN,NaN,6.050000e+08
4,A,2009-10-31,NaN,NaN,NaN,NaN,4.434000e+09,4.700000e+07,642000000.0,126000000.0,4.481000e+09,1.603000e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
30377,ZTS,2023-09-30,1.235500e+09,NaN,1.207500e+09,NaN,NaN,1.501500e+09,NaN,38000000.0,4.241000e+09,1.055500e+09
30378,ZTS,2023-12-31,2.561000e+09,NaN,2.344000e+09,NaN,NaN,2.936000e+09,NaN,46000000.0,8.544000e+09,2.151000e+09
30379,ZTS,2024-03-31,6.430000e+08,NaN,5.990000e+08,NaN,NaN,7.470000e+08,NaN,11000000.0,2.190000e+09,5.470000e+08
30380,ZTS,2024-06-30,9.895000e+08,NaN,9.235000e+08,NaN,NaN,1.153500e+09,NaN,48000000.0,3.456000e+09,8.545000e+08
30381,ZTS,2024-09-30,1.356500e+09,NaN,1.293500e+09,NaN,NaN,1.637500e+09,NaN,46000000.0,4.663500e+09,1.129000e+09

In [9]:
df_yf

,Ticker,Date,Tax Effect Of Unusual Items,Tax Rate For Calcs,Normalized EBITDA,Total Unusual Items,Total Unusual Items Excluding Goodwill,Net Income From Continuing Operation Net Minority Interest,Reconciled Depreciation,Reconciled Cost Of Revenue,...,Professional Expense And Contract Services Expense,Other Non Interest Expense,Total Other Finance Cost,Rent Expense Supplemental,Rent And Landing Fees,Insurance And Claims,Depletion Income Statement,Net Income From Tax Loss Carryforward,Net Income Extraordinary,Securities Amortization
0,MMM,2023-12-31,10008000.0,0.278,-6.795000e+09,3.600000e+07,3.600000e+07,-6.995000e+09,1.987000e+09,1.847700e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MMM,2022-12-31,235488000.0,0.096,6.232000e+09,2.453000e+09,2.453000e+09,5.777000e+09,1.831000e+09,1.923200e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MMM,2021-12-31,0.0,0.178,9.607000e+09,0.000000e+00,0.000000e+00,5.921000e+09,1.915000e+09,1.879500e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MMM,2020-12-31,76633000.0,0.197,8.846000e+09,3.890000e+08,3.890000e+08,5.449000e+09,1.911000e+09,1.660500e+10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AOS,2023-12-31,-4530800.0,0.241,8.426000e+08,-1.880000e+07,-1.880000e+07,5.566000e+08,7.830000e+07,2.368000e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2366,ZBH,2019-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367,ZTS,2023-12-31,-7105000.0,0.203,3.701000e+09,-3.500000e+07,-3.500000e+07,2.344000e+09,4.910000e+08,2.219000e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2368,ZTS,2022-12-31,-24395000.0,0.205,3.461000e+09,-1.190000e+08,-1.190000e+08,2.114000e+09,4.650000e+08,2.139000e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2369,ZTS,2021-12-31,-18746000.0,0.182,3.263000e+09,-1.030000e+08,-1.030000e+08,2.037000e+09,4.480000e+08,2.016000e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2370,ZTS,2020-12-31,-10980000.0,0.180,2.729000e+09,-6.100000e+07,-6.100000e+07,1.638000e+09,4.410000e+08,1.776000e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN